footer {
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: 5rem;
    height: auto;
    padding-top:1rem;

     span h3{
        margin-left: auto;
        color: red;
        align-self: flex-start;
    }
    i{
        font-size: 40px;
    }
}