@import './Style/_variables.scss';
@import './Style/_card.scss';
@import './Style/_bootstrapMod.scss';
@import './Style/_footer.scss';
@import './Style/_mediaQueries.scss';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: $main-font ;
  width: 100% ;
  // width:100%;
  min-height: 100vh;
  // overflow-x: hidden;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}


section {
  padding-top:60px;
  scroll-snap-align:start;
  min-height:100vh;
  width: 100vw;
}

#basic-navbar-nav::before{
  background-color:white;
}
//THEME
.theme-button{
  border:none;
  color:inherit;
  background-color: inherit;
}
.dark{
  background-color: #333;
  color:#f3f3f3 !important;
  transition: background-color 0.5s;
}
.light{
  background-color: #f3f3f3;
  color:#333 !important;
  transition: background-color 0.5s;
}

//CONTACT
#contact{
  display: flex;
  justify-content: center;
  align-items: center;
  color:inherit;
  span h3{
    width: 100vw;
    padding-left:5rem;
  }
  .contactForm {
    width: 48vw;
    height:66vh;
    // border:black 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color:inherit;

    input {
      min-width: 30vw;
      border-top: none;
      border-bottom: 1px solid;
      border-right: none;
      border-left: none;
      padding-bottom:5px;
      background-color: inherit;
      color: inherit;
      &:focus{
        outline: 0px;
      }
      &::placeholder{
        // color:#111;
        padding-bottom: 3px;
        color: inherit;
      }
    }
    
      textarea{
      resize:none; 
      height:150px; 
      // overflow:auto;
      min-width: 30vw;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid;
      background-color: inherit;
      color:inherit;
      &:focus{
        outline: 0px;
      }

      &::placeholder{
        color:inherit;
        padding-bottom: 3px;
        
      }
    }
    button{
      border:1px solid;
      color: inherit;
      background-color: inherit;
      margin-left: auto;
      font-size: 14px;
      padding:3px;
      float:right;
    }

    small{
      color:$danger;
    }
  }
  
}


// section {
//   scroll-snap-align: center;
//   height: 100vh;
//   padding-top: 50px;
// }

